<hgroup>
<h4><%=t('product.specification')%></h4> 
</hgroup>
<% unless @product_properties.empty? %>
    <table id="product_properties">
        <tbody>
            <% for product_property in @product_properties %>
                <tr>
                    <th><%= product_property.property.presentation %></th>
                    <td><%= product_property.value %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
