/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* normalize.css 2011-07-12T10:51 UTC http://github.com/necolas/normalize.css */
/* =============================================================================
HTML5 element display
========================================================================== */
/*
* Corrects block display not defined in IE6/7/8/9 & FF3
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/*
* Corrects inline-block display not defined in IE6/7/8/9 & FF3
* Known limitation: IE6 will not apply style for 'audio[controls]'
*/
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* =============================================================================
Base
========================================================================== */
/*
* 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
* http://clagnut.com/blog/348/#c790
* 2. Keeps page centred in all browsers regardless of content height
* 3. Removes Android and iOS tap highlight color to prevent entire container being highlighted
* www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
* 4. Prevents iOS text size adjust after orientation change, without disabling user zoom
* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
*/
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
  -ms-text-size-adjust: 100%;
  /* 4 */
}

/*
* Addresses margins handled incorrectly in IE6/7
*/
body {
  margin: 0;
}

/*
* Addresses font-family inconsistency between 'textarea' and other form elements.
*/
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* =============================================================================
Links
========================================================================== */
a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

/*
* Addresses outline displayed oddly in Chrome
*/
a:focus {
  outline: thin dotted;
}

/*
* Improves readability when focused and also mouse hovered in all browsers
* people.opera.com/patrickl/experiments/keyboard/test
*/
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
Typography
========================================================================== */
/*
* Addresses styling not present in IE7/8/9, S5, Chrome
*/
abbr[title] {
  border-bottom: 1px dotted;
}

/*
* Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
* Addresses styling not present in S5, Chrome
*/
dfn {
  font-style: italic;
}

/*
* Addresses styling not present in IE6/7/8/9
*/
mark {
  background: #ff0;
  color: #000;
}

/*
* Corrects font family set oddly in IE6, S5, Chrome
* en.wikipedia.org/wiki/User:Davidgothberg/Test59
*/
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
* Improves readability of pre-formatted text in all browsers
*/
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
* 1. Addresses CSS quotes not supported in IE6/7
* 2. Addresses quote property not supported in S4
*/
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
* Prevents sub and sup affecting line-height in all browsers
* gist.github.com/413930
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
Lists
========================================================================== */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
}

/* =============================================================================
Embedded content
========================================================================== */
/*
* 1. Removes border when inside 'a' element in IE6/7/8/9
* 2. Improves image quality when scaled in IE7
* code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
*/
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
* Corrects overflow displayed oddly in IE9
*/
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
Figures
========================================================================== */
/*
* Addresses margin not present in IE6/7/8/9, S5, O11
*/
figure {
  margin: 0;
}

/* =============================================================================
Forms
========================================================================== */
/*
* Corrects margin displayed oddly in IE6/7
*/
form {
  margin: 0;
}

/*
* Define consistent margin and padding
*/
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
* 1. Corrects color not being inherited in IE6/7/8/9
* 2. Corrects alignment displayed oddly in IE6/7
*/
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/*
* 1. Corrects font size not being inherited in all browsers
* 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
* 3. Improves appearance and consistency in all browsers
*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
* 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
* 2. Corrects inner spacing displayed oddly in IE6/7
*/
button,
input {
  line-height: normal;
  /* 1 */
  *overflow: visible;
  /* 2 */
}

/*
* Corrects overlap and whitespace issue for buttons and inputs in IE6/7
* Known issue: reintroduces inner spacing
*/
table button,
table input {
  *overflow: auto;
}

/*
* 1. Improves usability and consistency of cursor style between image-type 'input' and others
* 2. Corrects inability to style clickable 'input' types in iOS
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}

/*
* Addresses box sizing set to content-box in IE8/9
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}

/*
* 1. Addresses appearance set to searchfield in S5, Chrome
* 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
* Corrects inner padding displayed oddly in S5, Chrome on OSX
*/
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
* Corrects inner padding and border displayed oddly in FF3/4
* www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
* 1. Removes default vertical scrollbar in IE6/7/8/9
* 2. Improves readability and alignment in all browsers
*/
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
Tables
========================================================================== */
/*
* Remove most spacing between table cells
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button, .button-green, .button-orange, .button-gray {
  display: inline;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 0, rgba(255, 255, 255, 0.4) 0 1px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 0, rgba(255, 255, 255, 0.4) 0 1px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 0, rgba(255, 255, 255, 0.4) 0 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 0, rgba(255, 255, 255, 0.4) 0 1px 0 inset;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
  display: inline-block;
  padding: 0 40px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.button:hover, .button-green:hover, .button-orange:hover, .button-gray:hover {
  color: #fff;
}
.button:active, .button-green:active, .button-orange:active, .button-gray:active {
  -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0, rgba(255, 255, 255, 0.4) 0 1px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0, rgba(255, 255, 255, 0.4) 0 1px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0) 0 0 0, rgba(255, 255, 255, 0.4) 0 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0, rgba(255, 255, 255, 0.4) 0 1px 0 inset;
  top: 1px;
}

.button-green {
  background: #83c314;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #83c314), color-stop(100%, #689022));
  background-image: -webkit-linear-gradient(#83c314, #689022);
  background-image: -moz-linear-gradient(#83c314, #689022);
  background-image: -o-linear-gradient(#83c314, #689022);
  background-image: -ms-linear-gradient(#83c314, #689022);
  background-image: linear-gradient(#83c314, #689022);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#83c314, endColorstr=#689022);
  border: 1px solid #689022;
}
.button-green:hover {
  background: #699221;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #699221), color-stop(100%, #4d7409));
  background-image: -webkit-linear-gradient(#699221, #4d7409);
  background-image: -moz-linear-gradient(#699221, #4d7409);
  background-image: -o-linear-gradient(#699221, #4d7409);
  background-image: -ms-linear-gradient(#699221, #4d7409);
  background-image: linear-gradient(#699221, #4d7409);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#699221, endColorstr=#4d7409);
  border: 1px solid #4d7409;
}

.button-orange {
  background: #d58638;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d58638), color-stop(100%, #be7934));
  background-image: -webkit-linear-gradient(#d58638, #be7934);
  background-image: -moz-linear-gradient(#d58638, #be7934);
  background-image: -o-linear-gradient(#d58638, #be7934);
  background-image: -ms-linear-gradient(#d58638, #be7934);
  background-image: linear-gradient(#d58638, #be7934);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d58638, endColorstr=#be7934);
  border: 1px solid #875525;
  color: #fff;
}
.button-orange:hover {
  background: #d06d14;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d06d14), color-stop(100%, #a65813));
  background-image: -webkit-linear-gradient(#d06d14, #a65813);
  background-image: -moz-linear-gradient(#d06d14, #a65813);
  background-image: -o-linear-gradient(#d06d14, #a65813);
  background-image: -ms-linear-gradient(#d06d14, #a65813);
  background-image: linear-gradient(#d06d14, #a65813);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d06d14, endColorstr=#a65813);
  border: 1px solid #a65813;
}

.button-gray {
  background: #eee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#eeeeee, #cccccc);
  background-image: -moz-linear-gradient(#eeeeee, #cccccc);
  background-image: -o-linear-gradient(#eeeeee, #cccccc);
  background-image: -ms-linear-gradient(#eeeeee, #cccccc);
  background-image: linear-gradient(#eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eeeeee, endColorstr=#cccccc);
  border: 1px solid #ccc;
  text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
  color: #333;
}
.button-gray:hover {
  background: #ccc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#cccccc, #aaaaaa);
  background-image: -moz-linear-gradient(#cccccc, #aaaaaa);
  background-image: -o-linear-gradient(#cccccc, #aaaaaa);
  background-image: -ms-linear-gradient(#cccccc, #aaaaaa);
  background-image: linear-gradient(#cccccc, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#cccccc, endColorstr=#aaaaaa);
  border: 1px solid #aaa;
  color: #000;
}

.button-width {
  width: 200px;
  text-align: center;
}

.small {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  display: inline;
  float: left;
  padding: 2px 10px;
  height: auto;
  font-size: 12px;
  line-height: 1.2;
}

.medium {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  display: inline;
  float: left;
  padding: 5px 15px;
  height: auto;
  font-size: 15px;
  line-height: 1.2;
}

/*
Copyright (c) 2011, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.9.0
*/
/**
 * YUI Fonts
 * @module fonts
 * @namespace yui-
 * @requires 
 */
/**
 * Percents could work for IE, but for backCompat purposes, we are using keywords.
 * x-small is for IE6/7 quirks mode.
 */
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  /* for IE6/7 */
  *font-size: small;
  /* for IE Quirks Mode */
  *font: x-small;
}

/**
 * Nudge down to get to 13px equivalent for these form elements
 */
select,
input,
textarea,
button {
  font: 99% arial,helvetica,clean,sans-serif;
}

/**
 * To help tables remember to inherit
 */
table {
  font-size: inherit;
  font: 100%;
}

/**
 * Bump up IE to get to 13px equivalent for these fixed-width elements
 */
pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

/* `Variables
-----------------------------------------------------------------------------*/
/* `Base
-----------------------------------------------------------------------------*/
body {
  background: #180e04;
  margin: 0;
  font: 15px/1.7 "Helvetica Neue", Helvetica, Arial, "Microsoft JhengHei", sans-serif;
  color: #333;
}

a:link {
  color: #e3770a;
  text-decoration: none;
}
a:visited {
  color: #cb7722;
  text-decoration: none;
}
a:hover, a:active {
  color: #72992f;
}

/* new clearfix */
.clearfix:after, .inventory-list li:after, .custom-form .field:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix, * html .inventory-list li, .inventory-list * html li, * html .custom-form .field, .custom-form * html .field {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix, *:first-child + html .inventory-list li, .inventory-list *:first-child + html li, *:first-child + html .custom-form .field, .custom-form *:first-child + html .field {
  zoom: 1;
}

/* IE7 */
.menu, #breadcrumbs ul, aside .category ul, .inventory .hd ul, .inventory-thumb, .inventory-list, .pagination ul, .product-info .thumb ul, .product-info .tags, .product-info .row ul, .product-info .ft .legend, .similar ul, .cart-payment .total ul, .step ul, .account-container .tabs ul, footer .link, .menu li, #breadcrumbs ul li, aside .category ul li, .inventory .hd ul li, .inventory-thumb li, .inventory-list li, .pagination ul li, .product-info .thumb ul li, .product-info .tags li, .product-info .row ul li, .product-info .ft .legend li, .similar ul li, .cart-payment .total ul li, .step ul li, .account-container .tabs ul li, footer .link li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu li, #breadcrumbs ul li, aside .category ul li, .inventory .hd ul li, .inventory-thumb li, .inventory-list li, .pagination ul li, .product-info .thumb ul li, .product-info .tags li, .product-info .row ul li, .product-info .ft .legend li, .similar ul li, .cart-payment .total ul li, .step ul li, .account-container .tabs ul li, footer .link li, .menu li li, #breadcrumbs ul li li, aside .category ul li li, .inventory .hd ul li li, .inventory-thumb li li, .inventory-list li li, .pagination ul li li, .product-info .thumb ul li li, .product-info .tags li li, .product-info .row ul li li, .product-info .ft .legend li li, .similar ul li li, .cart-payment .total ul li li, .step ul li li, .account-container .tabs ul li li, footer .link li li {
  float: left;
}

.inner {
  margin: 0 auto;
  width: 960px;
  position: relative;
}

.sa, .product-introduction .specification table {
  border-top: 1px solid #ebebeb;
  width: 100%;
  color: #5e3710;
}
.sa th, .product-introduction .specification table th {
  border-bottom: 1px solid #ebebeb;
  padding: 4px 10px;
  width: 120px;
  text-align: left;
}
.sa td, .product-introduction .specification table td {
  border-bottom: 1px solid #ebebeb;
}
.sa tr:nth-child(2n+1), .product-introduction .specification table tr:nth-child(2n+1) {
  background-color: #f6f6f6;
}

/* `Header
-----------------------------------------------------------------------------*/
header {
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 2px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 2px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 2px inset;
  background: #cb7722 url('/assets/bg-header.png?1324379519') 0 0 repeat;
  height: 60px;
}
header h1 {
  background: url('/assets/h1.png?1324362306') no-repeat;
  margin: 0;
  width: 214px;
  height: 64px;
  position: absolute;
  left: -2px;
  top: 2px;
}
header h1 a {
  display: block;
  width: 214px;
  height: 58px;
  text-indent: -9999em;
}
header .topnav {
  display: inline;
  float: right;
  padding-top: 18px;
}
header .topnav .block {
  display: inline;
  float: left;
}
header .topnav .block a {
  color: #d6d6d6;
}
header .topnav .block a:hover {
  color: #fff;
}
header .topnav .block a strong {
  color: #eec398;
}
header .search {
  position: relative;
  margin-right: 30px;
}
header .search .text {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, rgba(0, 0, 0, 0.5) 0 1px 2px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, rgba(0, 0, 0, 0.5) 0 1px 2px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, rgba(0, 0, 0, 0.5) 0 1px 2px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, rgba(0, 0, 0, 0.5) 0 1px 2px inset;
  background: #251606;
  border: 0;
  padding: 4px 26px 4px 4px;
  width: 150px;
  height: 18px;
  line-height: 18px;
}
header .search .text:focus {
  background: #fcf6f0;
  color: #333;
}
header .search .submit {
  background: url('/assets/icons-s37f3021c17.png') 2px -482px no-repeat;
  border: 0;
  width: 24px;
  height: 24px;
  text-indent: -9999em;
  position: absolute;
  right: 0;
  top: 5px;
}
header .search .submit:hover {
  background: url('/assets/icons-s37f3021c17.png') 2px -446px no-repeat;
}
header .search input[placeholder] {
  color: rgba(136, 136, 136, 0.7);
}
header .account {
  -moz-box-shadow: rgba(203, 138, 72, 0.3) 1px 0 0;
  -webkit-box-shadow: rgba(203, 138, 72, 0.3) 1px 0 0;
  -o-box-shadow: rgba(203, 138, 72, 0.3) 1px 0 0;
  box-shadow: rgba(203, 138, 72, 0.3) 1px 0 0;
  border-right: 1px solid #5d3812;
  margin-right: 12px;
  padding-right: 12px;
}
header .account .login {
  background: url('/assets/icons-s37f3021c17.png') 0 -34px no-repeat;
  padding-left: 24px;
}
header .account .login:hover {
  background: url('/assets/icons-s37f3021c17.png') 0 2px no-repeat;
}
header .account .login + a {
  padding-left: 10px;
}
header .cart a {
  background: url('/assets/icons-s37f3021c17.png') 0 -146px no-repeat;
  padding-left: 24px;
}
header .cart a:hover {
  background: url('/assets/icons-s37f3021c17.png') 0 -110px no-repeat;
}

/* `Breadcrumbs
-----------------------------------------------------------------------------*/
#breadcrumbs {
  background: white url('/assets/bg-breadcrumbs.png?1324362731') 0 0 repeat-x;
  border-bottom: 1px solid #ebebeb;
}
#breadcrumbs ul li {
  background: url('/assets/breadcrumbs-dotted.png?1324381081') left center no-repeat;
  padding: 0 12px;
  font-size: 13px;
  color: #999;
  line-height: 28px;
}
#breadcrumbs ul li a {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  color: #744413;
}
#breadcrumbs ul li a:hover {
  color: black;
}
#breadcrumbs ul li.home {
  background: transparent;
}
#breadcrumbs ul li.home a {
  background: url('/assets/icons-s37f3021c17.png') 0 -375px no-repeat;
  width: 14px;
  text-indent: -9999em;
}
#breadcrumbs ul li.home a:hover {
  background: url('/assets/icons-s37f3021c17.png') 0 -344px no-repeat;
}

/* `Container
-----------------------------------------------------------------------------*/
#container {
  padding: 40px 0 60px 0;
  background: #fff;
}
#container #main {
  padding: 40px 0 60px 0;
}
#container.has-sidebar {
  background: white url('/assets/bg-container.png?1324383766') center top repeat-y;
  padding: 0;
}
#container.has-sidebar aside {
  display: inline;
  float: left;
  padding: 40px 0 60px 0;
  width: 180px;
}
#container.has-sidebar article, #container.has-sidebar #main {
  display: inline;
  float: right;
  padding: 40px 0 60px 0;
  width: 740px;
}

.title, aside h3, .product-introduction h3, .cart-payment h3, .account-container h3 {
  margin: 0 0 0.8em 0;
  font-size: 18px;
  color: #5e3710;
}

/* `Aside
-----------------------------------------------------------------------------*/
aside .category {
  margin-bottom: 30px;
}
aside .category ul li {
  float: none;
}
aside .category ul a {
  display: block;
  background: url('/assets/arrow-category.png?1324385483') 8px center no-repeat;
  border-bottom: 1px solid #ebebeb;
  padding: 4px 0 4px 25px;
  color: #a77746;
}
aside .category ul a:hover {
  background-color: #f8f8f8;
  color: #cb7722;
}
aside .category ul .current a {
  background: #72992f url('/assets/arrow-category-hover.png?1324385514') 8px center no-repeat;
  color: #fff;
  cursor: default;
}
aside .category:last-child {
  margin-bottom: 0;
}

/* `Inventory
-----------------------------------------------------------------------------*/
.inventory .hd {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 30px;
  padding: 0.4em 0 1em;
  font-size: 13px;
  line-height: 1.3;
}
.inventory .hd ul {
  display: inline;
  float: left;
}
.inventory .hd ul li {
  border-right: 1px solid #ebebeb;
  margin-right: 10px;
  padding-right: 10px;
}
.inventory .hd ul li.first, .inventory .hd ul li.last {
  border-right: 0;
  padding-right: 0;
}
.inventory .hd ul li a {
  color: #a77746;
}
.inventory .hd ul li a:hover {
  color: #72992f;
}
.inventory .hd ul li.current a {
  color: #72992f;
  cursor: default;
}
.inventory .hd .switch {
  display: inline;
  float: right;
}
.inventory .hd .switch a {
  display: inline-block;
  margin-left: 10px;
  padding-left: 24px;
  height: 18px;
  color: #b59579;
}
.inventory .hd .switch a.current {
  color: #745d47;
  cursor: default;
}
.inventory .hd .switch .thumb {
  background: url('/assets/icons-s37f3021c17.png') 0 -632px no-repeat;
}
.inventory .hd .switch .thumb.current {
  background: url('/assets/icons-s37f3021c17.png') 0 -594px no-repeat;
}
.inventory .hd .switch .list {
  background: url('/assets/icons-s37f3021c17.png') 0 -556px no-repeat;
}
.inventory .hd .switch .list.current {
  background: url('/assets/icons-s37f3021c17.png') 0 -518px no-repeat;
}
.inventory .bd {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.inventory-thumb {
  width: 770px;
}
.inventory-thumb li {
  margin: 0 30px 30px 0;
  padding: 1px;
  width: 122px;
  font-size: 13px;
  text-align: center;
  line-height: 1.4;
}
.inventory-thumb li img {
  display: block;
  border: 1px solid #ebebeb;
  margin-bottom: 5px;
  width: 120px;
  height: 120px;
}
.inventory-thumb li a {
  color: #a77746;
}
.inventory-thumb li a:hover {
  color: #72992f;
}
.inventory-thumb li a:hover img {
  border: 1px solid #ccc;
}
.inventory-thumb li span, .inventory-thumb li strong {
  display: block;
}
.inventory-thumb li strong {
  font-weight: 400;
  color: #333;
}
.inventory-thumb a:visited {
  color: #555;
}

.inventory-list li {
  float: none;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.inventory-list li:last-child {
  border-bottom: 0;
  margin-right: 0;
  padding-bottom: 0;
}
.inventory-list .photo-thumb {
  display: inline;
  float: left;
  border: 1px solid #ebebeb;
  margin-right: 20px;
}
.inventory-list .photo-thumb:hover {
  border: 1px solid #d2d2d2;
}
.inventory-list .photo-thumb img {
  display: block;
  height: 120px;
  width: 120px;
}
.inventory-list .list-intro {
  display: inline;
  float: left;
  width: 450px;
  height: 122px;
  line-height: 1.5;
}
.inventory-list .list-intro h3 {
  margin: 0 0 0.2em;
  font-size: 18px;
}
.inventory-list .list-intro h3 a {
  color: #a77746;
}
.inventory-list .list-intro h3 a:hover {
  color: #72992f;
}
.inventory-list .list-intro p {
  margin: 0;
}
.inventory-list strong.price {
  display: inline;
  float: right;
  border-left: 1px dotted #dedede;
  padding-top: 30px;
  height: 92px;
  width: 120px;
  font-size: 16px;
  color: #90775d;
  text-align: right;
}

/* `Pagination
-----------------------------------------------------------------------------*/
.pagination ul {
  display: inline;
  float: right;
}
.pagination ul li {
  margin-left: 3px;
  font-size: 13px;
  line-height: 1.2;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
}
.pagination ul li.amount {
  margin-right: 15px;
  padding-top: 4px;
}
.pagination ul li.current {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #f7f7f7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(#f7f7f7, #dedede);
  background-image: -moz-linear-gradient(#f7f7f7, #dedede);
  background-image: -o-linear-gradient(#f7f7f7, #dedede);
  background-image: -ms-linear-gradient(#f7f7f7, #dedede);
  background-image: linear-gradient(#f7f7f7, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f7f7f7, endColorstr=#dedede);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px, rgba(0, 0, 0, 0.2) 0 1px 2px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px, rgba(0, 0, 0, 0.2) 0 1px 2px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px, rgba(0, 0, 0, 0.2) 0 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px, rgba(0, 0, 0, 0.2) 0 1px 2px inset;
  display: block;
  padding: 3px 10px;
  border: 1px solid #f3f3f3;
  font-weight: bold;
  color: #aaa;
  cursor: default;
}
.pagination ul a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #f7f7f7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(#f7f7f7, #dedede);
  background-image: -moz-linear-gradient(#f7f7f7, #dedede);
  background-image: -o-linear-gradient(#f7f7f7, #dedede);
  background-image: -ms-linear-gradient(#f7f7f7, #dedede);
  background-image: linear-gradient(#f7f7f7, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f7f7f7, endColorstr=#dedede);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 0, rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 0, rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 0, rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 0, rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  display: block;
  padding: 3px 10px;
  border: 1px solid #dedede;
  color: #777;
}
.pagination ul a:hover {
  color: #000;
}
.pagination ul a:active {
  -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0, rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0, rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0) 0 0 0, rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0, rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  position: relative;
  top: 1px;
}

/* `Product Info
-----------------------------------------------------------------------------*/
.product-info {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 30px;
  padding-bottom: 40px;
}
.product-info .gallery {
  display: inline;
  float: left;
  background: #ebebeb;
  padding: 5px;
  width: 250px;
}
.product-info .photo-wrapper {
  margin-bottom: 10px;
  position: relative;
}
.product-info .photo-wrapper a, .product-info .photo-wrapper img {
  display: block;
  width: 250px;
  height: 250px;
}
.product-info .photo-wrapper a:hover span {
  background: url('/assets/icon-magnifier.png?1324442851') center center no-repeat;
  display: block;
  width: 250px;
  height: 250px;
  position: absolute;
}
.product-info .thumb-wrapper {
  position: relative;
  margin-bottom: 5px;
  padding-left: 17px;
}
.product-info .thumb-wrapper .control-btn {
  position: absolute;
  top: 15px;
  width: 15px;
  height: 19px;
  opacity: 0.5;
  text-indent: -9999em;
}
.product-info .thumb-wrapper .control-btn:hover {
  opacity: 1;
}
.product-info .thumb-wrapper .prev {
  background: url('/assets/icons-s37f3021c17.png') 0 -709px no-repeat;
  left: 0;
}
.product-info .thumb-wrapper .next {
  background: url('/assets/icons-s37f3021c17.png') 0 -670px no-repeat;
  right: 0;
}
.product-info .thumb-wrapper .disabled, .product-info .thumb-wrapper .disabled:hover {
  cursor: default;
  opacity: 0.1;
}
.product-info .thumb {
  width: 215px;
  overflow: hidden;
}
.product-info .thumb ul li {
  margin-right: 5px;
}
.product-info .thumb ul li:last-child {
  margin-right: 0;
}
.product-info .thumb a, .product-info .thumb img {
  display: block;
  width: 50px;
  height: 50px;
  opacity: 0.9;
}
.product-info .thumb a:hover, .product-info .thumb img:hover {
  opacity: 1;
}
.product-info .hd .row {
  color: #777;
}
.product-info .info {
  display: inline;
  float: right;
  width: 460px;
}
.product-info .info .product-title {
  margin: 0 0 5px;
  font-size: 22px;
  color: #72992f;
}
.product-info .tags li {
  margin-right: 4px;
  padding: 0 12px 0 6px;
  height: 17px;
  font-size: 11px;
  line-height: 17px;
  color: #fff;
}
.product-info .tags li.red {
  background: #c76855 url('/assets/tags/red.png?1324452178') right top no-repeat;
}
.product-info .tags li.blue {
  background: #5093be url('/assets/tags/blue.png?1324452188') right top no-repeat;
}
.product-info .tags li.green {
  background: #919b4e url('/assets/tags/green.png?1324452237') right top no-repeat;
}
.product-info .tags li.orange {
  background: #b17527 url('/assets/tags/orange.png?1324452227') right top no-repeat;
}
.product-info .tags li.purple {
  background: #6059c8 url('/assets/tags/purple.png?1324452202') right top no-repeat;
}
.product-info .bd {
  margin-bottom: 20px;
  padding: 0.5em 0;
  border-top: 1px dotted #ebebeb;
  border-bottom: 1px dotted #ebebeb;
}
.product-info .row {
  margin: 0.5em 0;
}
.product-info .row .label {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 80px;
  position: relative;
}
.product-info .row .label:after {
  content: ":";
  position: absolute;
  right: 5px;
  top: 0;
}
.product-info .row.price strong {
  font-size: 20px;
  font-weight: 400;
  color: #cb1616;
  line-height: 1.2;
}
.product-info .row ul li {
  margin-right: 5px;
}
.product-info .color a, .product-info .size a {
  border: 1px solid #ccc;
}
.product-info .color a:hover, .product-info .size a:hover {
  border: 1px solid #000;
}
.product-info .color a {
  display: block;
  position: relative;
}
.product-info .color a img {
  display: block;
}
.product-info .size a {
  display: inline-block;
  background: #f8f8f8;
  padding: 0 6px;
  min-width: 30px;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  line-height: 18px;
  text-align: center;
  position: relative;
}
.product-info .size a:hover {
  background: #fff;
  color: #000;
}
.product-info .selected a {
  cursor: default;
}
.product-info .selected a span {
  background: url('/assets/selected.png?1324537821') 0 0 no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  right: -2px;
  bottom: -2px;
}
.product-info .color .selected a, .product-info .size .selected a {
  background: #f8f8f8;
  border: 1px solid #000;
  color: #555;
}
.product-info .ft .button, .product-info .ft .button-green, .product-info .ft .button-orange, .product-info .ft .button-gray {
  color: #fff;
  position: relative;
  padding: 0 25px 0 15px;
}
.product-info .ft .button span, .product-info .ft .button-green span, .product-info .ft .button-orange span, .product-info .ft .button-gray span {
  display: inline;
  float: left;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 0 0;
  background: url('/assets/icons-s37f3021c17.png') 0 -61px no-repeat;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  width: 33px;
  height: 40px;
}
.product-info .ft .legend {
  display: inline;
  float: right;
  padding-top: 17px;
}
.product-info .ft .legend li {
  border-left: 1px solid #e3deda;
  margin-left: 6px;
  padding-left: 6px;
  font-size: 12px;
  line-height: 1.2;
}
.product-info .ft .legend li.chart {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
.product-info .ft .legend li a {
  display: inline-block;
  padding-left: 22px;
  color: #b59579;
}
.product-info .ft .legend li a:hover {
  color: #92765d;
}
.product-info .ft .legend .chart a {
  background: url('/assets/icons-s37f3021c17.png') 0 -181px no-repeat;
}
.product-info .ft .legend .delivery a {
  background: url('/assets/icons-s37f3021c17.png') 0 -320px no-repeat;
}
.product-info .ft .legend .returns a {
  background: url('/assets/icons-s37f3021c17.png') 0 -414px no-repeat;
}

/* `Product Introduction
-----------------------------------------------------------------------------*/
.product-introduction .intro {
  display: inline;
  float: left;
  width: 570px;
}
.product-introduction .depiction {
  margin-bottom: 30px;
}
.product-introduction .depiction p {
  margin-top: 0;
}
.product-introduction .depiction img.left {
  display: inline;
  float: left;
  margin-right: 20px;
}
.product-introduction .depiction img.right {
  display: inline;
  float: right;
  margin-left: 20px;
}
.product-introduction .specification hgroup {
  margin-bottom: 10px;
}
.product-introduction .specification hgroup h4 {
  display: inline-block;
  margin: 0;
  color: #5e3710;
}
.product-introduction .specification hgroup h4 a {
  font-weight: 400;
}
.product-introduction .similar {
  display: inline;
  float: right;
  width: 140px;
}

.similar h4 {
  margin-top: 0;
  color: #72992f;
  line-height: 1.2;
}
.similar ul {
  border: 1px solid #ebebeb;
  border-bottom: 0;
}
.similar ul li {
  float: none;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
}
.similar ul li a {
  color: #777;
}
.similar ul li a:hover {
  color: #000;
}
.similar ul span {
  display: block;
}

/* `Cart Payment
-----------------------------------------------------------------------------*/
.payment, .cart-payment .total .bd, .coupon-code, .order-section .bd, .payment-section .bd {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #fffdf8;
  border: 1px solid #e4d8c0;
  padding: 20px;
}

.cart-payment section {
  margin-bottom: 30px;
}
.cart-payment .hd h3 {
  display: inline;
  float: left;
}
.cart-payment .hd label {
  padding-left: 15px;
  color: #9f5d1b;
  line-height: 30px;
}
.cart-payment .hd .checkout {
  display: inline;
  float: right;
  font-size: 18px;
  color: #5e3710;
}
.cart-payment .hd .checkout strong {
  display: inline-block;
  padding: 0 5px;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.1;
  color: #ff004e;
}
.cart-payment .returns-delivery {
  display: inline;
  float: left;
  width: 470px;
}
.cart-payment .returns-delivery ul {
  padding-left: 20px;
}
.cart-payment .returns-delivery li {
  margin-bottom: 0.5em;
}
.cart-payment .total {
  display: inline;
  float: right;
  width: 470px;
}
.cart-payment .total.full-width {
  float: none;
  width: 100%;
}
.cart-payment .total.full-width .bd {
  padding: 10px 20px 25px;
}
.cart-payment .total dl {
  margin: 0;
}
.cart-payment .total dt {
  display: inline;
  float: left;
  width: 100px;
}
.cart-payment .total dt.amount {
  font-weight: bold;
  color: #72992f;
}
.cart-payment .total dd {
  border-bottom: 1px solid #ebebeb;
  margin: 0 0 10px 0;
  padding: 0 0 10px 100px;
  text-align: right;
}
.cart-payment .total dd.amount {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.cart-payment .total dd.amount strong {
  padding-left: 5px;
  font-size: 18px;
  color: #ff004e;
  line-height: 1.4;
}
.cart-payment .total ul li {
  float: none;
  border-bottom: 1px dashed #d2d2d2;
  margin-bottom: 10px;
  text-align: right;
}
.cart-payment .total ul li div {
  background: #fffdf8;
  position: relative;
  top: 13px;
  display: inline;
}
.cart-payment .total ul li .label {
  display: inline-block;
  padding-left: 10px;
  width: 120px;
  text-align: left;
}
.cart-payment .total ul li .cost {
  display: inline-block;
  width: 120px;
}
.cart-payment .total ul li.amount .label {
  font-weight: bold;
  color: #72992f;
}
.cart-payment .total ul li.amount strong {
  font-size: 18px;
  color: #ff004e;
  line-height: 1.4;
}
.cart-payment .total .button-orange {
  display: inline;
  float: right;
  margin-top: 20px;
  color: #fff;
}

.step {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #f5f5f5;
  margin-bottom: 40px;
}
.step ul li {
  background: url('/assets/step-menu.png?1324983807') right top no-repeat;
  padding: 0 35px 0 25px;
  height: 40px;
  line-height: 40px;
  color: #744413;
}
.step ul li.current, .step ul li.last-done, .step ul li.done {
  color: #fff;
}
.step ul li.current {
  background: #72992f url('/assets/step-menu.png?1324983807') right -40px no-repeat;
}
.step ul li.last-done {
  background: #505050 url('/assets/step-menu.png?1324983807') right -80px no-repeat;
}
.step ul li.done {
  background: #505050 url('/assets/step-menu.png?1324983807') right bottom no-repeat;
}
.step ul li:first-child {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -khtml-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.step ul li:last-child {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -khtml-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background: transparent;
}

.coupon-code {
  margin-bottom: 15px;
  padding: 15px;
}
.coupon-code .field {
  display: inline;
  float: left;
}
.coupon-code label {
  padding-right: 10px;
  font-weight: bold;
  color: #72992f;
}
.coupon-code .text {
  line-height: 1.2;
}
.coupon-code .deduction {
  display: inline;
  float: right;
  color: #555;
}
.coupon-code .deduction strong {
  padding-left: 10px;
  font-size: 20px;
  color: #555;
  line-height: 1.1;
}
.coupon-code .deduction strong.has-discount {
  color: #ff004e;
}
.coupon-code input[disabled='disabled'] {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background: #eee;
  border: 1px solid #ccc;
  padding: 2px 0;
}

.list-of-items {
  width: 100%;
}
.list-of-items th, .list-of-items td {
  padding: 10px;
}
.list-of-items th {
  background: #555;
  font-size: 13px;
  color: #fff;
}
.list-of-items td {
  border-bottom: 1px solid #ebebeb;
  line-height: 1.4;
}
.list-of-items .discount td, .list-of-items tfoot td {
  border-bottom: 0;
}
.list-of-items .product-number, .list-of-items .product-id {
  text-align: left;
}
.list-of-items .item, .list-of-items .quantity, .list-of-items .action {
  text-align: center;
}
.list-of-items .unit-price, .list-of-items .amount {
  text-align: right;
}
.list-of-items .product-number, .list-of-items .amount {
  width: 70px;
}
.list-of-items .item, .list-of-items .action, .list-of-items .quantity {
  width: 40px;
}
.list-of-items .unit-price {
  width: 40px;
}
.list-of-items .trash {
  display: inline-block;
  background: url('/assets/icons-s37f3021c17.png') 1px -782px no-repeat;
  width: 18px;
  height: 18px;
  text-indent: -9999em;
}
.list-of-items .trash:hover {
  background: url('/assets/icons-s37f3021c17.png') 1px -746px no-repeat;
}
.list-of-items .discount .discount-amount {
  color: #ff004e;
  text-align: right;
}
.list-of-items tbody tr:hover td {
  background: #f8fbff;
}
.list-of-items tfoot td {
  background: #f0f0f0;
  padding: 15px 10px;
  font-size: 13px;
  color: #777;
}
.list-of-items tfoot td.recalculated {
  text-align: right;
}
.list-of-items tfoot td.recalculated .button-gray {
  margin-left: 10px;
}
.list-of-items tfoot td .button-gray {
  -moz-box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0, rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0, rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  -o-box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0, rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0, rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  float: none;
  font-size: 13px;
  color: #333;
}

.order-section.addressee .bd {
  background: #fdfff8;
  border: 1px solid #d6e4c0;
}
.order-section.addressee h3 {
  color: #72992f;
}

.custom-form .field {
  border-bottom: 1px dotted #ebebeb;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.custom-form .field .col {
  display: inline;
  float: left;
  width: 86%;
}
.custom-form .field .col.remember {
  margin-left: 14%;
}
.custom-form .field:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.custom-form .field .note {
  padding-left: 5px;
  font-size: 13px;
  color: #777;
}
.custom-form label.desc {
  display: inline;
  float: left;
  margin-right: 2%;
  width: 12%;
  text-align: right;
}
.custom-form .button-area {
  text-align: left;
}
.custom-form .button-area .submit {
  float: none;
}

.payment-section .bd {
  background: #fdfdfd;
  border: 1px solid #e0e0e0;
}
.payment-section .pick p {
  margin-top: 0;
}
.payment-section .pick .field span {
  padding-right: 15px;
}
.payment-section .pick input, .payment-section .pick img {
  display: inline-block;
  vertical-align: middle;
}
.payment-section .credit-card {
  background: url('/assets/credit-card-verification.png?1325077818') 540px 30px no-repeat;
  border-top: 1px solid #ebebeb;
  margin-top: 30px;
  padding: 30px 400px 0 0;
}
.payment-section .credit-card label.desc {
  margin-right: 20px;
  width: 110px;
}
.payment-section .credit-card .col {
  width: 350px;
}

.payment-instructions {
  background-color: #f5f5f5;
  margin-top: 40px;
  padding: 20px;
}
.payment-instructions li {
  margin-bottom: 10px;
}
.payment-instructions .important {
  color: #cc3d26;
}

/* `Account
-----------------------------------------------------------------------------*/
.account-container .tabs {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}
.account-container .tabs ul li {
  margin-right: 3px;
  position: relative;
  top: 2px;
}
.account-container .tabs a {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -khtml-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  display: inline;
  float: left;
  background: #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 2px 20px 0;
  height: 33px;
  line-height: 33px;
  color: #555;
}
.account-container .tabs a:hover {
  background: #5b5b5b;
  border-bottom: 1px solid #5b5b5b;
  color: #fff;
}
.account-container .tabs .current a {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-bottom: 1px solid #fff;
  color: #72992f;
  cursor: default;
}
.account-container .list-of-items {
  margin-bottom: 20px;
}
.account-container .list-of-items td {
  text-align: center;
}
.account-container .list-of-items .order-number, .account-container .list-of-items .order-date, .account-container .list-of-items .order-status, .account-container .list-of-items .order-total, .account-container .list-of-items .contact {
  width: 100px;
}
.account-container .list-of-items .payment-status {
  width: 180px;
}
.account-container .custom-form {
  padding-top: 40px;
}
.account-container .custom-form .field {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.account-container .custom-form .button-area {
  padding-left: 14%;
}
.account-container .custom-form .button-area .submit {
  margin-right: 20px;
}

/* `Stickies
-----------------------------------------------------------------------------*/
.stickies .notice-stickie, .stickies .error-stickie, .stickies .warning-stickie {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, white 0 1px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, white 0 1px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, white 0 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, white 0 1px 0 inset;
  margin-bottom: 15px;
  padding: 10px;
  line-height: 1.2;
}
.stickies .notice-stickie {
  background: #daf1af url('/assets/bg-stickie.png?1324961843') left top repeat-x;
  border: 1px solid #b0d861;
}
.stickies .error-stickie {
  background: #f1b6af url('/assets/bg-stickie.png?1324961843') left top repeat-x;
  border: 1px solid #d86d61;
}
.stickies .warning-stickie {
  background: #f1eaaf url('/assets/bg-stickie.png?1324961843') left top repeat-x;
  border: 1px solid #d8ca61;
}
.stickies .stickies-close {
  display: inline;
  float: right;
  padding-top: 1px;
}
.stickies .stickies-close a {
  background: url('/assets/icons-s37f3021c17.png') 0 -211px no-repeat;
  display: inline-block;
  width: 16px;
  height: 17px;
  text-indent: -9999em;
  opacity: 0.5;
}
.stickies .stickies-close a:hover {
  opacity: 1;
}

/* `Footer
-----------------------------------------------------------------------------*/
footer {
  padding: 20px 0;
  font-size: 13px;
  color: #87837a;
  line-height: 1.3;
}
footer address {
  display: inline;
  float: left;
  font-style: normal;
}
footer .link {
  display: inline;
  float: right;
}
footer .link li {
  border-left: 1px dotted #482a0c;
  margin-left: 10px;
  padding-left: 10px;
}
footer .link li.first {
  border-left: 0;
}
footer .link a {
  color: #a77746;
}
footer .link a:hover {
  color: #6d8543;
}
