<footer>
<div class="inner clearfix">
    <address>© 2011 Handlino Inc.</address>
    <ul class="link clearfix">
        <li class="first"><a href="/">關於Shopping Bags</a></li>
        <li><a href="/">聯絡我們</a></li>
    </ul>
</div>
</footer>
