<%@container_class = "account-container"%>
<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>

<div id="existing-customer">
  <h3><%= t(:login_as_existing) %></h3>
  <div data-hook="login">
    <%= render :partial => 'spree/shared/login' %>
  </div>
</div>
<div data-hook="login_extras"></div>
